body{
  font-family: "Super Legend Boy"; 
}

@font-face {
  font-family: "Super Legend Boy";
  src: url(SuperLegendBoy-4w8Y.ttf);
}

.myCard{
  margin-top: 10%;
  height: 90%;
  width: 100%;
  border: 2px solid white;
  background-color: gray;
  border-radius: 4px;
}

.third{
  min-height: 33vh;
  max-height: 33vh;
}

.mt-7{
  margin-top: 6em;
}